---
import Layout from '../layouts/Layout.astro';

import React, { useEffect, useState } from "react";
import '@/styles/globals.css'
import { Button } from "@/components/ui/button"
import { Card, CardContent } from "@/components/ui/card"
import { Database, Cloud, Server, Brain, Code, Cpu, Phone } from "lucide-react"
import ExperienceCarousel from '../components/ExperienceCarousel';
import Hero from "@/components/Hero.astro"
import LinkInLine from "@/components/LinkInline.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Link from '@/components/icons/Link.astro';
import Experience from '@/components/Experience.astro';
import SkillTree from '@/components/Tree.jsx'; // Importa el componente React



// Función para obtener el ícono correcto
function getIcon(iconName) {
  switch (iconName) {
    case "Database":
      return Database
    case "Cloud":
      return Cloud
    case "Server":
      return Server
    case "Brain":
      return Brain
    case "Code":
      return Code
    default:
  
  }
}
const skills = [
  {
    icon: "Database",
    title: "Stream, Cache, Database",
    description: "Redis, Kafka, SQL (Oracle, MySQL, InfluxDB, PostgreSQL), NoSQL (MongoDB, DynamoDB)",
    color: "bg-blue-500"
  },
  {
    icon: "Cloud",
    title: "Cloud & Microservices",
    description: "Openshift/Kubernetes, Helm, ServiceMesh, Docker, VMWare, AWS, GCP",
    color: "bg-green-500"
  },
  {
    icon: "Server",
    title: "Operating Systems & Network",
    description: "Linux, RHEL, CentOS, SNMP (MIBS, Trap & Polling, Discovery, Backups)",
    color: "bg-purple-500"
  },
  {
    icon: "Brain",
    title: "AI & Machine Learning",
    description: "Langchain, Jupyter Notebooks, LLM (HuggingFace, SageMaker, Bedrock, Transformers), RAG, Fine Tuning",
    color: "bg-red-500"
  },
  {
    icon: "Code",
    title: "Development & Automation",
    description: "JavaScript (React, Node.js), Python, API & Integrations, Mobile & Web apps, CI/CD",
    color: "bg-yellow-500"
  }
]


const services = [
  { 
    icon: 'Code',
    title: "Desarrollo Avanzado",
    description: "Soluciones de software innovadoras utilizando las últimas tecnologías en React, Python y Node.js."
  },
  {
    icon: 'Server',
    title: "Arquitectura de Soluciones",
    description: "Diseño de sistemas escalables y de alto rendimiento para empresas en crecimiento."
  },
  {
    icon: 'Cpu',
    title: "Integración de IA",
    description: "Implementación de soluciones de IA y aprendizaje automático para optimizar procesos empresariales."
  },
  {
    icon: 'Cloud',
    title: "Transformación Digital",
    description: "Guía estratégica para la adopción de tecnologías cloud y prácticas DevOps."
  }
];

const experiencias = [
  {
    icon: "CloudIcon",
    titulo: "Desarrollo y Arquitectura",
    descripcion: "Más de 12 años de experiencia en desarrollo y arquitectura de sistemas.",
    color: "text-blue-400"
  },
  {
    icon: "RocketIcon",
    titulo: "Liderazgo en Transformación Digital",
    descripcion: "Liderazgo en proyectos de transformación digital para empresas Fortune 500.",
    color: "text-green-400"
  },
  {
    icon: "CloudIcon",
    titulo: "Experto en Cloud y DevOps",
    descripcion: "Experto en tecnologías cloud (AWS, GCP) y prácticas DevOps.",
    color: "text-purple-400"
  },
  {
    icon: "BrainCircuitIcon",
    titulo: "IA y Machine Learning",
    descripcion: "Implementación exitosa de soluciones de IA y Machine Learning en diversos sectores.",
    color: "text-red-400"
  },
]
---



<Layout title="MT - Soluciones Tecnológicas Innovadoras" description='El portafolio'>
<div class="bg-gray-900 text-white min-h-screen">

    <main class="container px-6">
		<SectionContainer>
				<Hero></Hero>
		</SectionContainer>


    <SectionContainer>
      <Experience></Experience>
  
       </SectionContainer>

      
		<section id="servicios" class=" bg-gray">
			<div class="container mx-auto px-6">
				<h2 class="text-4xl font-bold text-center mb-16"> Servicios</h2>
				<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
					{services.map((service, index) => (
						<Card key={index} className="bg-gray-700 text-white-100 text-md overflow-hidden group transition-all duration-300 ease-in-out transform hover:scale-105 hover:shadow-xl">
							<CardContent className="p-6 relative z-10">
								<div class="flex flex-col items-center text-center relative z-10">
									<div class="mb-4 transition-transform duration-300 ease-in-out transform group-hover:scale-110 group-hover:text-purple-300">
										{service.icon === 'Code' && <Code client:load className="h-12 w-12 text-blue-400 group-hover:text-purple-300" />}
										{service.icon === 'Server' && <Server client:load className="h-12 w-12 text-green-400 group-hover:text-purple-300" />}
										{service.icon === 'Cpu' && <Cpu client:load className="h-12 w-12 text-purple-400 group-hover:text-purple-300" />}
										{service.icon === 'Cloud' && <Cloud client:load className="h-12 w-12 text-red-400 group-hover:text-purple-300" />}
									</div>
									<h3 class="text-xl font-semibold mb-2 transition-colors duration-300 ease-in-out group-hover:text-purple-300">{service.title}</h3>
									<p class="text-gray-300 transition-colors duration-300 ease-in-out group-hover:text-white">{service.description}</p>
								</div>
							</CardContent>
							<div class="absolute inset-0 bg-purple-600 opacity-0 transition-opacity duration-300 ease-in-out group-hover:opacity-90"></div>
						</Card>
					))}
				</div>
			</div>
		</section>

    <section class="py-20 bg-gray-900 min-h-screen flex items-center justify-center">
      <div class="container mx-auto px-6">
        <h2 class="text-4xl font-bold text-center mb-16 text-white">Tecnologías</h2>
        <SkillTree   client:load/>  <!-- Usa el componente React aquí -->
      </div>
    </section>


       
    </main>
</div>

</Layout>

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">


   <style is:global>
      :root {
        color-scheme: light dark;
      }

      html {
        font-family: "Onest Variable", system-ui, sans-serif;
        scroll-behavior: smooth;
      }

      body {
        color: rgba(17, 17, 17, 0.9);
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        overscroll-behavior: none;
      }

      @media (prefers-reduced-motion: reduce) {
        html {
          scroll-behavior: auto;
        }
      }

      @media (prefers-color-scheme: dark) {
        body {
          color: rgba(255, 255, 255, 0.9);
        }
      }

      #header-nav {
        animation: blur linear both 0.5s;
        animation-timeline: scroll();
        animation-range: 0 500px;
      }

      @keyframes blur {
        to {
          backdrop-filter: blur(20px);
          border-width: 1px;
          border-color: rgba(0, 0, 0);
          padding: 0.25rem 0.75rem;
          display: flex;
          flex-direction: row;
          align-items: center;
          background-color: rgb(229, 229, 229);
          border-radius: 9999px;
        }
      }

      @media (prefers-color-scheme: dark) {
        @keyframes blur {
          from {
            border: 0px;
          }
          to {
            box-shadow:
              0px 5px 50px -5px rgba(0, 0, 0, 0.1),
              0px 0px 0 1px rgba(0, 0, 0, 0.3);
            background: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(20px);
            border-width: 1px;
            border-color: rgba(0, 0, 0);
            padding-left: 0.75rem;
            padding-right: 0.75rem;
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.3);
            border-radius: 9999px;
          }
        }
      }
    </style>

