---
const currentYear = new Date().getFullYear()
const email = "maximilianomt@gmail.com"
import {motion} from 'framer-motion'
import { Linkedin, Github, Send} from 'lucide-react';
---

<footer id="footer" class="fade-in opacity-80 m-4 min-[375px]:pl-4 md:pl-0 mt-10 w-full mx-auto container lg:max-w-4xl md:max-w-xl mb-10">
  <div class="flex flex-col gap-5 items-center justify-center mb-10">
    <span class="text-4xl text-white font-extrabold">Contacto </span> 
    <span class="text-md text-gray-300 to-white-100">¡Conversemos sobre tu próximo proyecto!</span>
    <Send></Send>
    <span class="text-xl text-purple-400 font-bold leading-loose text-purple-500 to-white-100 animate-pulse">
      {email}
    </span>
  </div>

  <div class="p-2 flex flex-1 flex-row justify-center gap-10 items-center mb-5" id="social">
    <div class="flex justify-center space-x-6 pt-8">
      <a href="#linkedin" class="transform hover:scale-110 transition-transform duration-200" aria-label="LinkedIn Profile">
        <Linkedin className="w-8 h-8 text-[#0A66C2] hover:text-[#0077B5]" />
      </a>
      <a href="#github" class="transform hover:scale-110 transition-transform duration-200" aria-label="GitHub Profile">
        <Github className="w-8 h-8 text-white hover:text-gray-300" />
      </a>
    </div>
  </div>

  <div class="flex flex-col items-center justify-around">
    <span class="text-sm text-gray-400">© {currentYear} MT</span>
    <span class="text-xs text-gray-400">Ltd. All Rights Reserved.</span>
  </div>
</footer>


<style>
  .fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in.visible {
  opacity: 1;
  }
</style>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const footer = document.getElementById('footer');
    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            footer.classList.add('visible');
            observer.unobserve(footer); // Detener la observación después de aplicar la clase
          }
        });
      },
      {
        threshold: 0.1, // El footer debe estar al menos un 10% visible para activar el efecto
      }
    );

    observer.observe(footer);
  });
</script>
