---
import Badge from "../components/Badge.astro"
import LinkedInIcon from "../components/icons/LinkedIn.astro"
import MailIcon from "../components/icons/Mail.astro"
import SocialPill from "../components/SocialPill.astro"

const whatsappNumber = "34667456619";
---

<div id="hero" class="flex flex-col items-center md:items-center gap-8 min-h-screen">
  <div class="flex flex-col items-center mt-10">
    <img
      class="w-40 h-40 rounded-full shadow-lg"
      src="/media/profile.jpg"
      width={160}
      height={160}
      alt={"Maxi Tofani"}
    />
    <a  
      href={`https://wa.me/${whatsappNumber}?text=Hola%20Maxi%2C%20quiero%20trabajar%20contigo%20%3A%29`}
      target="_blank"
      rel="noopener"
      class="p-2 flex items-end transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  
  <div class="text-center">
  <h1
    class="p-2 text-4xl font-bold tracking-tight text-white-800 sm:text-5xl dark:text-white"
  >
    Hola! Soy Maxi Tofani
  </h1>
</div>
  <p
    class="max-w-2xl text-center text-xl text-white-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
  13+ años de experiencia en TI y Telco. <strong> Arquitecto de Soluciones y </strong><strong>Consultor de tecnología</strong>, enfocado en <strong> <span class="text-purple-300">IA, Transformación Digital e Innovación</span></strong>.
    <div class="flex">
    <nav class="flex flex-wrap gap-4 mt-8 ">
    <SocialPill  href="https://mail.google.com/mail/?view=cm&fs=1&to=maximilianomt@gmail.com">
      <MailIcon class="size-8" />
      Contáctame
    </SocialPill>
    <SocialPill href="https://www.linkedin.com/in/maximilianotofani/">
      <LinkedInIcon class="size-8 " />
      LinkedIn
    </SocialPill>
  </nav>
</div>
</div>
