---
const { class: className, id } = Astro.props
---

<section
  id={id}
  data-section={id}
  class={`section ${className} container pt-12 sm:px-2 md:px-2 lg:px-4 xl:px-4`}
  >
  <slot />
</section>
