<a
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
  role="link"
  class="inline-flex items-center justify-center gap-2 px-4 py-1  text-white text-sm  transition bg-gray-800 border-1 border border-purple-500  rounded-full  hover:bg-gray-100 hover:border-gray-300 hover:text-gray-800 group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-yellow-500/80 focus-visible:ring-offset-2 active:bg-gray-200 hover:scale-105">
  <slot />
</a>
